<html>

  <head>
    <title>Type Up</title>
    <link rel="icon" href="/assets/logo3.png">
    <script
      src="https://code.jquery.com/jquery-1.12.4.js"
      integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
      crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Teko" rel="stylesheet">
    <script src="/assets/nav-bar.js"></script>
  </head>

  <body>

    <nav id="nav-bar">
      <div id="nav-toggle-btn"><a href="#" id="nav-toggle-btn-logo"></a></div>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/todo">Todo</a></li>
        <li><a href="/type">Type</a></li>
      </ul>
    </nav>

    <div class="moving-content" id="header-div">
      <h1>Type Up</h1>
      <nav>
        <ul>
          <li><a href="/auth/login" id="login">Login</a></li>
          <li><a href="/auth/login" id="login">Logout</a></li>
          <li><a href="/auth/login" id="login">Google</a></li>
        </ul>
      </nav>
    </div>

    <div class="moving-content content">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a efficitur erat. Mauris suscipit pellentesque tempus. Suspendisse cursus risus vel imperdiet cursus. Praesent a libero a lorem elementum gravida. Mauris pretium accumsan velit sed consectetur. Donec auctor, massa a aliquet rutrum, lorem elit cursus magna, vitae tempus est nisi in magna. Sed interdum metus id nisl ultrices, quis finibus odio gravida. Nulla a elementum neque.

Cras lacus dolor, varius vel varius sit amet, accumsan et massa. Mauris tincidunt, neque a pharetra feugiat, lectus velit viverra augue, a posuere augue metus in ante. Ut lacinia lectus a magna finibus iaculis. Aliquam purus est, mollis id elementum at, interdum ut quam. Etiam rhoncus lectus mi, sed laoreet leo fermentum ut. Aliquam ipsum nunc, finibus ut ultricies id, semper eget lorem. Mauris vulputate aliquam rhoncus. Pellentesque semper massa ipsum, sed efficitur orci sodales gravida. Donec bibendum posuere est in ullamcorper. Donec dictum ultrices est, in laoreet dui ullamcorper vitae. Sed tincidunt elementum sollicitudin. Vestibulum venenatis cursus risus pulvinar hendrerit. Vestibulum semper arcu tortor, vel faucibus lorem imperdiet quis. Curabitur id viverra urna. Suspendisse potenti. Suspendisse potenti.
      </p>
    </div>

  </body>
</html>
