<html>

  <head>
    <title>Type Up</title>
    <script
      src="https://code.jquery.com/jquery-1.12.4.js"
      integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
      crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="/assets/nav-bar.js"></script>
  </head>

  <body>

    <nav id="nav-bar">
      <a href="#" id="nav-toggle-btn"></a>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/todo">Todo</a></li>
        <li><a href="/type">Type</a></li>
      </ul>
    </nav>

    <div id="content">
      <h1>Type.</h1>
      <textarea><textarea>
    </div>

  </body>
</html>
